{% extends "text_to_speech_app/baselayout.html" %}

{% block content %}
    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow p-3 mt-3 text-center">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.label_tag}} <br><span class="errors">{{field.errors|striptags}}</span>
                            {{field}} <br>
                        {% endfor %}
                        <input type="submit" value="Get speech" id="getspeech" class="btn form-control btn-dark">
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="card shadow p-3 mt-3 ">
                    <p class="text-center fw-bold">Your speech in accent </p>
                    {% if messages %}           
                        {% for message in messages %}
                            <div class="text-center alert alert-primary alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}             
                    {% endif %}
                    <div class="text-center mt-5">
                        <audio id="audioid" controls >
                            <source  src="" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
        <div id="myid">

        </div>
        
    </div>
    
{% endblock content %}


{% block custom_js %}

    <script>
        function base64ToBlob(base64, mime) 
        { 
            const byteChars = atob(base64); 
            const byteNumbers = new Array(byteChars.length); 
            for (let i = 0; i < byteChars.length; i++) 
            { 
                byteNumbers[i] = byteChars.charCodeAt(i); 
            } 
            const byteArray = new Uint8Array(byteNumbers); 
            return new Blob([byteArray], {type: mime}); 
        }

        document.querySelector("#getspeech").addEventListener("click",function(e){
            e.preventDefault();
            var tld=document.querySelector("#id_tld").value
            var text=document.querySelector("#id_text").value
            var data={
                "tld":tld,
                "text":text
            }
            console.log(data)
            var audio_id=document.getElementById("audioid")
            var accent = document.getElementById("id_tld")
            accent_value=accent.value
            fetch('{% url "get_speech" %}',{
                method:"POST",
                body:JSON.stringify(data),
                headers: {'Content-Type': 'application/json'}
            })
            .then(function(response){
                console.log(response)
                return response.json()
                               
            })
            .then(function(response){
                return JSON.parse(response)
            })
            .then(function(response){
                console.log("mp3 : ",response.mp3string)
                return base64ToBlob(response.mp3string, 'audio/mp3');
            })
            .then(function(blob){
                const audioUrl = URL.createObjectURL(blob);
                audio_id.src=audioUrl
                console.log(audioUrl)
            })
            .catch(error => {
                console.error('Fetch error:', error);
              });
        })
    </script>

{% endblock custom_js %}




